:host {
    display: flex;
    flex-direction: column;
}


h1 {
    text-align: center;    
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form > * {
    padding: 2%;
    width: 85%;
}

.btn {
    display: flex;
    justify-content: space-evenly;
}

.btn > * {
    border: none;
    color:white;
    background-color: rgb(31, 132, 226);
    padding: 2%;
    border-radius: 4px;
}

.btn > *:hover{
    opacity: .5;
}